<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>update</title>
    </head>
    <body>
        <h1>update</h1>
        <form action="/updateTodo/<%= id %>?_method=PATCH" method="POST"
            style="display: inline;">
            <input type="text" name="title" id="title">
            <button type="submit" class="btn btn-warning btn-sm">Update</button>
        </form>
    </body>
</html>